@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

*{
    font-family: 'Silkscreen', cursive;
    color: white; 
    letter-spacing: 2px;
}

html{
    background-color: #154c79;
}

img{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    width: 75%;
    height: auto;
}

h1{
    font-size: 50px;
    text-align: center;
    color: pink;
}

h2{
    color: orange;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

ol{
    list-style-type: upper-roman;
}

li,p{
    letter-spacing: 3px;
    margin: 7px 60px;
    padding: 10px;
}

li{
    padding: 10px;
}